b-form(@submit='onSubmit')
    b-container(fluid)
        h4(class='pt-2') Contact name
        b-row
            b-col
                b-form-group(label='First Name' label-for='firstNameInput')
                    b-form-input(id='firstNameInput' v-model='contact.firstName' required)
            b-col
                b-form-group(label='Last Name' label-for='lastNameInput')
                    b-form-input(id='lastNameInput' v-model='contact.lastName' required)
        hr
        b-row
            b-col(class='col-md-6 col-sm-12 col-12')
                h4 Emails
                    b-button(@click='onAddEmail' class='mb-2 ml-2' variant='primary') Add
                b-row(v-for='(email, index) in contact.emails' :key='`email_${index}`' class='mb-2')
                    b-col
                        b-form-input(v-if='index != 0' type='email' id='emailInput[index]' v-model='contact.emails[index]')
                        b-form-input(v-else type='email' id='emailInput[index]' v-model='contact.emails[index]' required)
                    b-col(class='col-lg-2 col-md-2 col-sm-1 col-2')
                        b-button(v-if='index != 0' @click='onRemoveEmail(index)' variant='danger') X
            b-col
                h4 Phone numbers
                    b-button(@click='onAddPhoneNumber' class='mb-2 ml-2' variant='primary') Add
                b-row(v-for='(phoneNumber, index) in contact.phoneNumbers' :key='`phoneNumber_${index}`' class='mb-2')
                    b-col
                        b-form-input(id='phoneNumberInput[index]' v-model='contact.phoneNumbers[index]')
                    b-col(class='col-lg-2 col-md-2 col-sm-1 col-2')
                        b-button(@click='onRemovePhoneNumber(index)' variant='danger') X
        hr
        h4 Addresses
            b-button(@click='onAddAddress' class='mb-2' class='mb-2 ml-2' variant='primary') Add
        address-detail(v-for='(address, index) in contact.addresses' :key='`address_${index}`' :data='address' :index='index' v-on:remove='onRemoveAddress(index)')
        br
        b-button(class='mb-3' variant='primary' type='submit') Save