<template lang="pug">
div(:style='`background-color:${backgroundColor}`')
    b-row
        b-col(class='col-lg-1 col-md-2 col-3 justify-content-center align-items-center d-flex')
            b-button(@click='onRemove()' variant='danger') X
        b-col
            b-form-group(label='Name or note' label-for='noteInput')
                b-form-input(id='noteInput' v-model='data.note')
    b-form-group(label='Street name, house number' label-for='streetAndHouseNumberInput')
        b-form-input(id='streetAndHouseNumberInput' v-model='data.streetAndHouseNumber' required)
    b-row
        b-col
            b-form-group(label='Zip code' label-for='zipCodeInput')
                b-form-input(id='zipCodeInput' v-model='data.zipCode' required)
        b-col
            b-form-group(label='City, state' label-for='cityInput')
                b-form-input(id='cityInput' v-model='data.city' required)
</template>

<script>
export default {
  name: 'AddressDetail',
  props: ['data', 'index'],
  computed: {
    backgroundColor () {
      return this.index % 2 === 1 ? '#eee' : 'transparent'
    }
  },
  methods: {
    onRemove () {
      this.$emit('remove')
    }
  }
}
</script>
