<template lang="pug">
#contact-detail
    b-navbar(toggleable='md' type='dark' variant='warning')
        b-navbar-toggle(target='nav_collapse')
        b-navbar-brand Mongo contacts - {{ contactFullName }}
        b-navbar-nav
            b-nav-item(@click='$router.push("/")') Homepage
        b-collapse(id='nav_collapse' is-nav)
            b-navbar-nav(class='ml-auto')
                b-nav-item(@click='onRemove') Delete
    include templates/contactForm.pug
</template>

<script>
import {deleteContact, editContact, getContact} from '../service/contactsService'
import AddressDetail from './AddressDetail'
import swal from 'sweetalert'
import AContactDetail from './AContactDetail'

export default {
  name: 'ContactDetail',
  extends: AContactDetail,
  components: {
    'address-detail': AddressDetail
  },
  methods: {
    onSubmit () {
      editContact(this.contact)
        .then((respnose) => {
          if (respnose['status'] === 'OK') {
            swal({text: 'Changes successfully persisted', title: 'Good news!!!', icon: 'success', button: 'Sweet!'})
          } else {
            swal({text: respnose['error'], title: 'Oopsie!', icon: 'error'})
          }
        })
    },
    onRemove () {
      swal({dangerMode: true, buttons: true, title: 'Are you sure?', text: `Do you really want to remove ${this.contactFullName}`})
        .then((result) => {
          if (result === true) {
            deleteContact(this.contact._id)
              .then((respnose) => {
                if (respnose['status'] === 'OK') {
                  swal({text: 'Contact successfully deleted', title: 'It is gone :(', icon: 'success', button: 'Sweet!'})
                    .then(() => this.$router.push('/'))
                } else {
                  swal({text: respnose['error'], title: 'Oopsie!', icon: 'error'})
                }
              })
          }
        })
    }
  },
  computed: {
    contactFullName () {
      return `${this.contact.firstName} ${this.contact.lastName}`
    }
  },
  mounted () {
    this.id = this.$route.params['_id']
    getContact(this.id).then((data) => {
      this.contact = data
    }).catch((r) => {
      this.$router.replace({name: 'PageNotFound'})
    })
  }
}
</script>
