<template lang="pug">
    b-alert(
    :show='showDismissibleAlert'
    dismissible
    fade
    :variant='color'
    @dismissed="dismissCountDown=0"
    @dismiss-count-down="countDownChanged"
    style='position:fixed;top:0;z-index:999;width:100%;'
    )
        p {{ message }}
        b-progress(:variant='color' :max='dismissSecs' :value='dismissCountDown' height='2px')
</template>

<script>
export default {
  name: 'FixedAlert',
  props: ['color', 'message', 'show'],
  data () {
    return {
      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false
    }
  },
  methods: {
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
      if (dismissCountDown === 0) {
        this.showDismissibleAlert = false
      }
    }
  },
  watch: {
    show: function (v) {
      if (v === true) {
        this.dismissCountDown = this.dismissSecs
      }
    }
  }
}
</script>
