<template lang="pug">
#homepage
    b-navbar(toggleable='md' type='dark' variant='warning')
        b-navbar-toggle(target='nav_collapse')
        b-navbar-brand Mongo contacts - Contact list
        b-collapse(id='nav_collapse' is-nav)
            b-navbar-nav(class='ml-auto')
                b-nav-item(@click='onAddNew') Create new contact
    b-table(v-if='contacts.length > 0' :fields='fields' :items='contacts')
        template(slot='name' slot-scope='row')
            router-link(:to='{ name: "ContactDetail", params: {_id: row.item._id}}') {{ row.item.firstName }} {{ row.item.lastName }}
    b-jumbotron(v-else header='There\'s nothing in here' lead='You do not have any contact, start with creating one.')
        b-btn(variant='primary' @click='onAddNew') Create new contact
</template>

<script>
import {getContactList} from '../service/contactsService'

export default {
  name: 'Homepage',
  data () {
    return {
      fields: [
        {
          key: 'name',
          label: 'Name'
        },
        {
          key: 'emails',
          label: 'Default email',
          formatter: (value) => {
            if (Array.isArray(value) && value.length > 0) {
              return value[0]
            }
            return ''
          }
        },
        {
          key: 'phoneNumbers',
          label: 'Default phone number',
          formatter: (value) => {
            if (Array.isArray(value) && value.length > 0) {
              return value[0]
            }
            return ''
          }
        },
        {
          key: 'addresses',
          label: 'Default address',
          formatter: (value) => {
            if (Array.isArray(value) && value.length > 0) {
              let val = value[0]
              return `${val['streetAndHouseNumber']}; ${val['zipCode']}, ${val['city']}`
            }
            return ''
          }
        }
      ],
      contacts: []
    }
  },
  methods: {
    onAddNew () {
      this.$router.push('/create/')
    }
  },
  mounted () {
    getContactList().then((data) => {
      this.contacts = data
    })
  }
}
</script>
