<template lang="pug">
#contact-detail
    b-navbar(toggleable='md' type='dark' variant='warning')
        b-navbar-toggle(target='nav_collapse')
        b-navbar-brand Mongo contacts - New contact
        b-navbar-nav
            b-nav-item(@click='$router.push("/")') Homepage
        b-collapse(id='nav_collapse' is-nav)
            b-navbar-nav(class='ml-auto')
                b-nav-item(@click='onSubmit') Save
    include templates/contactForm.pug
</template>

<script>
import {createContact} from '../service/contactsService'
import AddressDetail from './AddressDetail'
import swal from 'sweetalert'
import AContactDetail from './AContactDetail'

export default {
  name: 'NewContactDetail',
  extends: AContactDetail,
  components: {
    'address-detail': AddressDetail
  },
  methods: {
    onSubmit () {
      createContact(this.contact)
        .then((respnose) => {
          if (respnose['status'] === 'NOK') {
            swal({text: respnose['error'], title: 'Oopsie!', icon: 'error'})
          } else {
            swal({
              text: 'New contact was successfully created',
              title: 'Good news!!!',
              icon: 'success',
              button: 'Sweet!'
            }).then(() => {
              this.$router.push({name: 'ContactDetail', params: {_id: respnose}})
            })
          }
        })
    }
  }
}
</script>
