<template lang="pug">
#page-not-found
    b-navbar(toggleable='md' type='dark' variant='warning')
        b-navbar-brand Mongo contacts
        b-navbar-nav
            b-nav-item(@click='$router.push("/")') Homepage
    b-jumbotron(header='Not found' lead='There\'s nothing on this address')
        b-btn(variant='primary' @click='onGoBack') Go back
</template>

<script>
export default {
  name: 'PageNotFound',
  methods: {
    onGoBack () {
      this.$router.go(-1)
    }
  }
}
</script>
